<a href="https://colab.research.google.com/github/fidelisalanna/estudos-programacao/blob/main/aula%20de%20funcao%20tupla%20Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [5]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maçã', 'banana', 'laranja', 'goiaba']

In [7]:
#fatiamente (Slicing)
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'agost', 'setemp', 'out', 'novem', 'dezem')
#com os meses do segundo trimestre (abril - jun)
tp_meses[3:6]

('abr', 'mai', 'jun')

In [9]:
#ordenação de dados *sort(value, key = x)
#ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [11]:
nome_nasc = [('alanna', 2004), ('ildezia', 1969 ), ('ana clara', 2005)]

sorted(nome_nasc, key = lambda x : x[0])

[('alanna', 2004), ('ana clara', 2005), ('ildezia', 1969)]

In [17]:
#Desempacotamento de valores.
def nome_idade_uf():
  nome = "Alanna Fidelis"
  idade = 18
  uf = 'PB'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

Alanna Fidelis 18 PB

In [21]:
alunos = ('alanna', 'ana clara', 'fidelis', 'toretto', 'vin diesel')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))
Av1

(('alanna', 5.5),
 ('ana clara', 8),
 ('fidelis', 9),
 ('toretto', 7.5),
 ('vin diesel', 6.5))

In [22]:
#escreva uma funcao que receba duas tuplas como entrada e retorne uma unica tupla que seja a concatenação das duas 
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [27]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Alanna', 'Av.Alcides Bezerra', '825', 'cruz das armas')

print (formatada(dadosCliente))

nome:Alanna, residente a Av.Alcides Bezerra, 825, cruz das armas.